*{
    margin: 0;
    padding: 0;
}

/* HOMEPAGE */

.homepage.col{
    background-color: #4E5F7B ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* display: flex;
    flex-direction: column; */
    color: white;
    /* width: 1263px;
    height: 644.26px; */
}

    /* NAVBAR */

    /* .navbar{
        display: flex;
        flex-direction: row;
    } */

        #logo{
            padding-left: 25px;
        }
        nav.row{
            font-weight: lighter;
            font-size: 15px ;
            align-content: center;
            color: white;
        }
            li {
                display: inline;
            }
            li a{
                padding: 28px;
                color: white;
                text-align: center;
            }
            li a:hover{
                color: white;
            }
            /* ul{
                position: fixed;
                top: 0px;
                width: 100%;
            } */

    /* NAVBAR */

    /* MIDDLE */

    .middle.row{
        /* display: flex;
        flex-direction: row; */
        margin-top: 50px;
        margin-left: 150px;
        margin-right: 150px;
        
        align-items: center;
        justify-content: center;
    }

        /* .text.col{
            display: flex;
            flex-direction: column;
            padding-right: 200px;
            
        } */
            #button:hover{
                opacity: 0.3;
            }

            .text.col h1{
                
                font-weight: bolder;
                font-size: 100px;
            }
            .text.col h2{
                font-weight: normal;
                font-size: 30px;
            }
            .text.col h3{
                font-weight: lighter;
                font-size: 20px;
                padding-top: 20px
            }

            /* .text button{
                margin-top: 30px;
                width: 100px;
                border-color: white;
                border-radius: 50%;
                background-color: #4E5F7B;
                cursor: pointer;
                color: white;
            } */

            #button{
                margin-top: 30px;
                width: 109px;
                height: 30.31px;
            }

        #fotobesar{
            width: 436px;
            height: 372.24px;
            
        }

    /* ASSET REUSE */
    #gelombang{
        margin-top: -30px;
        width: 1441px;
        height: 199px;
        width: 1260px;
        margin-left: -17px;

    }

/* PROFILE */

.profile.col{
    /* display: flex;
    flex-direction: column; */
    background-color: #3C4960;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* width: 1263px;
    height: 644.26px; */
}

    /* JUDUL REUSE*/
    h4{
        padding-top: 50px;
        text-align: center;
        font-weight: bolder;
    }
    /* KONTEN */
    .kontenprofile.row{
        margin-top: 20px;
        /* display: flex;
        flex-direction: row; */
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-left: 100px;
        margin-right: 100px;
        
    }
        /* DESKRIPSI KIRI */
        .deskripsi.col{
            /* display: flex;
            flex-direction: column; */
            padding-right: 100px;
            padding-left: 150px;
            
            
        }

            #fotokecil{
                width: 174.84px;
                height: 204.38px;
                margin-left: 40px;
                margin-right: 40px;
            }

            p{
                width: 250px;
                text-align: justify;
               padding-top: 20px;
               padding-bottom: 20px;
               font-weight: lighter;
            }

        /* RECTANGLE PEMBATAS */
        #rectangle1{
            width: 6px;
            height: 218px;  
            margin-left: -130px;
        }

        /* DATA DIRI KANAN */
        .datadiri.col{
            text-align: left;
            /* display: flex;
            flex-direction: column; */
            padding-left: 100px;
        }
            .datadiri h5{
                font-size: 15px;
            }
            .datadiri h6{
                font-weight: lighter;
            }
    /* ASET OVAL 1 */
    #asetoval1{
        margin-top: -550px;
        width: 1260px;
        height: 660px;
        margin-left: -17px;
    }

/* ACADEMICS */
 
.academics.col {
    background-color: #3C4960;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    
}

    /* KONTEN ACADEMICS */
    .kontenacademics.row{
        margin-left: 100px;
        margin-right: 100px;
        align-items: center;
        justify-content: center;
        
    }
        /* EDUCATION */
        .education.col{
            justify-content: center;
            align-items: center;
            padding-left: 150px;
            padding-right: 80px;
        }

            .education.col h4{
                text-align: left;
                padding-bottom: 20px;
                font-size: 20px;

            }

            .education.col h5{
                font-weight: lighter;
                font-size: 15px;
            }

            .education.col h6{
                font-weight: lighter;
                font-style: italic;
                padding-bottom: 50px;
                font-size: 10px;
            }

        #bulet2{
            width: 15px;
            height: 420px;
            padding-top: 50px;
        }
        /* EXPERIENCES */
        .experiences.col{
            justify-content: center;
            align-items: center;
            padding-left: 200px;
            font-size: 20px;
        }

            .experiences.col h4{
                padding-top: 54px;
                text-align: left;
                padding-bottom: 20px;
                font-size: 20px;
            }

            .experiences.col h5{
                font-weight: lighter;
                padding-bottom: 50px;
                font-size: 15px;
            }
    /* ASET OVAL 2 */
    #asetoval2{
        margin-top: -1187px;
        margin-left: -210px;
        width: 1460px;
        height: 782.45px;
        
    }
    #gelombang2{
        margin-top: -30px;
        width: 1441px;
        height: 199px;
        width: 1260px;
    }
/* SKILLS */
.kontenskills.row{
    background-color: #313C4F;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    

}
    /* SKILLS */
    #param1{
        width: 216.67px;
        height: 137.67px;
        margin-left: 260px;
        margin-top: -200px;
            
        }
        /* Tulisan Personalities */

        .personalities.col{
            padding-left: -150px;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        .personalities.col h4{
            padding-left: 85px;
            padding-bottom: 16px;
        }
        .personalities.col h5{
            padding-top: -100px;
            padding-bottom: 16px;
            padding-left: 260px;
            font-weight: lighter;
        }
    #param2{
        width: 219.64px;
        height: 240px;
        margin-right: 100px;
        margin-left: 110px;
        margin-top: -290px;
        }
        /* Tulisan Skills */
        .skills.col{
            margin-top: 100px;
            margin-bottom: 100px;
        }
        .skills.col h4{
            padding-right: 315px;
            padding-bottom: 16px;
        }
        .skills.col h5{
            padding-top: -100px;
            padding-bottom: 16px;
            padding-left: 110px;
            font-weight: lighter;
            
        }
/* ASET OVAL 23 */
#asetoval3{
    margin-top: -650px;
    margin-right: 1200px;
    width: 514.67px;
    height: 496.16px;
    
}

/* FOOTER */

.footer.col{
    background-color: #F4F4AC;
    text-align: center;
    color: #3C4960;
    font-size: 20px;
    font-weight: normal;
    
}

.sosmed{
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
}
    /* ICON SOSMED */
   
    #instagram{
        margin-top: 20px;
        width: 54px;
        height: 54px;
        margin-bottom: 20px;
        margin-right: 50px;
    }
    #instagram:hover{
        opacity: 0.5;
    }
    #line{
        margin-top: 20px;
        width: 54px;
        height: 54px;
        margin-bottom: 20px;
        margin-right: 50px;
    }
    #line:hover{
        opacity: 0.5;
    }
    #twitter{
        margin-top: 20px;
        width: 58px;
        height: 44px;
        margin-bottom: 20px;
        margin-right: 50px;
    }
    #twitter:hover{
        opacity: 0.5;
    }
    #email{
        margin-top: 20px;
        width: 68px;
        height: 54px;
        margin-bottom: 30px;
        
    }
    #email:hover{
        opacity: 0.5;
    }

/* SECONDPAGE */
/* HOBBY */


.hobby{
    background-color: #313C4F;
}