<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homepage/style.css' %}">
    <style>
        /* HOBI */
        .hobby.col{
            background-color: #3C4960;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: white;
            justify-content: center;
            align-items: center;

        }
            .navbar.row{
                background-color: #3C4960;
            }
            .hobby h5{
                margin-top: 20px;
                font-weight: lighter;
                text-align: center;
                font-style: italic;
            }
            /* #cake{
                margin-left: 50px;
                margin-right: 50px;
                width: 1112px;
                height:647.31px;
                padding-bottom: 50px;
            } */

            .kue1.row{
                margin-top: 50px;
                justify-content: center;
                align-items: center;

            }
            .kue2.row{
                justify-content: center;
                align-items: center;

            }
                #kue{
                    width: 188px;
                    height: 334px;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            #asetoval4{
                margin-top: -800px;
                width: 1395px;
                height: 900px;
                margin-left: -150px;
            }

        
        /* PROJECT */
        #project .hobby.col{
            background-color: #313C4F;
        }
        .bool.row{
            justify-content: center;
            align-items: center;
        }

            .boolean{
                margin-top: 40px;
                margin-right: 20px;
                margin-left: 20px;
                width: 313px ;
                height: 221px;
            }
            #boolean2{
                margin-top: 40px;
                margin-right: 20px;
                margin-left: 20px;
                width: 156.12px;
                height: 221px;
            }
            #booleanlink{
                width : 462px;
                height: 44px;
                margin-left: 400px;
                margin-right: 400px;
                margin-bottom: 50px;
                margin-top: 50px;
            }
            #booleanlink:hover{
                opacity: 0.5;
            }
            .hobby.col #asetoval3{
                margin-top: -500px;
                margin-left: -200px;
                width: 514.67px;
                height: 496.16px;
            }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title> SecondPage Kak PW </title>
</head>

<body>
    <section id="hobby">
        <div class="navbar row">
            <img id="logo" src="{% static 'homepage/logo.png' %}" alt="Logo">
            <nav>
                <ul>
                    <li><a href="/">Profile</a></li>
                    <li><a href="/">Academics</a></li>
                    <li><a href="/">Skills</a></li>
                    <li><a href="#hobby" href="#hobby">Hobby</a></li>
                    <li><a href="#project" href="#project">Project</a></li>
                    <li><a href="#contactperson">Contact Person</a></li>
                </ul>
            </nav>
        </div>
        <div class="hobby col">
            <h4>HOBBY</h4>
            <h5>Cake Making Documentations</h5>
            <div class="kue1 row">
                <img id="kue" src="{% static 'homepage/Kue1.png' %}"/> 
                <img id="kue" src="{% static 'homepage/Kue2.png' %}"/> 
                <img id="kue" src="{% static 'homepage/Kue3.png' %}"/> 
                <img id="kue" src="{% static 'homepage/Kue4.png' %}"/> 
            </div>
            <div class="kue2 row">
                <img id="kue" src="{% static 'homepage/Kue5.png' %}"/> 
                <img id="kue" src="{% static 'homepage/Kue6.png' %}"/> 
                <img id="kue" src="{% static 'homepage/Kue7.png' %}"/> 
                <img id="kue" src="{% static 'homepage/Kue8.png' %}"/> 
            </div>
            <img id="asetoval4" src="{% static 'homepage/AsetOval4.png' %}"/>
            <img id="gelombang" src="{% static 'homepage/Gelombang2.png' %}" alt="asset">
        </div>
    </section>

    <section id="project">
        <div class="hobby col">
            <h4>PROJECT</h4>
            <div class="bool row">
                <img class="boolean" src="{% static 'homepage/bool1.png' %}" alt="Boolean">
                <img id="boolean2" src="{% static 'homepage/bool2.png' %}" alt="Boolean">
                <img class="boolean" src="{% static 'homepage/bool3.png' %}" alt="Boolean">
            </div>
            <a href="https://bit.ly/Boolean26Media2020"> 
                <img  id="booleanlink" src="{% static 'homepage/button2.png'%}" alt="Boolean26">
            </a> 
            <img id="asetoval3" src="{% static 'homepage/AsetOval3.png' %}" alt="asset">
        </div>
    </section>

    <section id="contactperson">
        <div class="footer col">
                <h7>Contact Person :</h7>
                <div class="sosmed row">
                    <a href="https://www.instagram.com/ichadevii/"> 
                        <img id="instagram" src="{% static 'homepage/Instagram.png' %}" alt="Instagram Saya">
                    </a> 
                    <a href="https://www.line.me/ichadevii/">
                        <img  id="line" src="{% static 'homepage/Line.png' %}" alt="Line Saya">
                    </a>
                    <a href="http://twitter.com/annisadevin/"> 
                        <img  id="twitter" src="{% static 'homepage/Twitter.png'%}" alt="Twitter Saya">
                    </a> 
                    <a href="adevi.nurmalasari@gmail.com">
                        <img  id="email" src="{% static 'homepage/Email.png' %}" alt="Email Saya">
                    </a>
                </div>
        </div>
    </section>
</body>
</html>